body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

input::placeholder {
  color: #ccc;
  text-align: center;
}

button[type="submit"] {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  background-color: #f1f1f1;
  cursor: pointer;
  grid-column: span 2;
}

button[type="submit"]:hover {
  background-color: #ccc;
}
